:root{
	--accent-color: #8A00FF;
	/*  #8A00FF #008cffcc #00ff62cc #ff0062cc */
}
html {
	background-color: #121212;
	font-family: Arial;

}
div {
	display: flex;
}
body {
	margin: 0;
	display: flex;
	text-align: center;
}
p, a {
	color: var(--accent-color);
}
footer {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 70vw;
	margin-left: 40vw;
	background-color: rgba(255, 255, 255, .08);
	color: white;
}
div.profile {
	flex-direction: column;
	justify-content: center;
	min-width: fit-content;
	width: 40vw;
	background-color: #1e1e1e;
	overflow-x: hidden;
	/* padding-top: 30vh; */
}
div.profile div {
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	/* border: 4px solid rgba(255, 255, 255, .05); */
}

div.profile div.links {
	flex-direction: column;
	align-items: flex-start;
	padding-left: 20px;
	color: var(--accent-color);
}

div.profile img {
	border-radius: 15px;
	object-fit: scale-down;
	flex-grow: 0;
	border: 4px solid var(--accent-color); ;
}

div.content {
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	div.profile div {
		flex-direction: column;
		/* border: 4px solid rgba(255, 255, 255, .05); */
	}
	div.profile div.links {
		padding-top: 20px;
		align-items: flex-start;
	}
	
}

@media screen and (max-width: 700px) {
	body {
		flex-direction: column;
	}
	div.profile {
		position: fixed; 
		top:0;
		width: 100%;
		height: auto;
		position: relative;
		padding-top: 0;
	}
	div.profile div.links {
		padding: 0;
		margin: 0;
		align-items: flex-start;
		flex-shrink: 0;
	}
	div.content {
		margin: auto;
		margin-top: 20px;
	}
	div.profile img {
		transform: scale(.6);
	}
	footer {
		width: 100%;
		margin-left: auto;
	}
	div.profile div {
		flex-direction: row;
	}
}
