:root{
	--primary: #8A00FF;
	--secondary: #3500D3;
	--background: #1e1e1e;
	--surface: #282828;
	--surfaceSecondary: #383838;
	--cursor: #0CCA98;

	--cursor-x: -100px;
	--cursor-y: -100px;
	/*  #8A00FF #008cffcc #00ff62cc #ff0062cc */
}
html {
	background-color: var(--background);
	font-family: Arial;
	cursor: none;
	color: var(--primary);
	box-sizing: border-box;
}

#cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	backface-visibility: hidden;
	pointer-events: none;
	border: 3px solid var(--cursor);
	transition-timing-function: cubic-bezier(.03,.89,.39,1.24);
	transition-duration: 0.1s;
	will-change: transform;
	border-radius: 50%;
}
.mouse {
	transform: translate3d(calc(var(--cursor-x) - 13px), calc(var(--cursor-y) - 13px), 0);
}
.pointer {
	border: 4px dashed var(--cursor) !important;
	transform: translate3d(calc(var(--cursor-x) - 13px), calc(var(--cursor-y) - 13px), 0) scale(0.6);
}
div {
	display: flex;
}
body {
	margin: 0;
	display: flex;
	text-align: center;
}
p, a {
	cursor: none;
	color: var(--primary);
}
footer {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 70vw;
	margin-left: 40vw;
	background-color: rgba(255, 255, 255, .08);
	color: white;
}
div.profile {
	flex-direction: column;
	justify-content: center;
	min-width: fit-content;
	width: 40vw;
	flex-shrink: 0;
	background-color: var(--surface);
	overflow: auto;
	/* padding-top: 30vh; */
}
div.profile div.theme-selector {
	flex-direction: column;
}

div.profile div {
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	/* border: 4px solid rgba(255, 255, 255, .05); */
}

div.profile div.links {
	flex-direction: column;
	align-items: flex-start;
	/* padding-left: 20px; */
	flex-shrink: 0;
}

div.profile a.link {
	background-color: var(--surfaceSecondary);
	padding: 10px;
	border-radius: 4px;
	margin: 5px 0;
}

@media(hover: hover) and (pointer: fine) {
	a.link:hover ~ #cursor {
		width: 200px;
	}
}
@media(pointer: coarse){
	#cursor {
		visibility: hidden;
	}
}

div.profile img {
	border-radius: 15px;
	object-fit: scale-down;
	flex-grow: 0;
	flex-shrink: 1;
	border: 4px solid var(--primary); ;
}

div.content {
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 auto;
}
div.content div.panel {
	background-color: var(--surface);
	margin: 10px 35px;
	border-radius: 6px;
	text-align: left;
}

@media screen and (max-width: 1200px) {
	div.profile div {
		flex-direction: column;
	}
	div.profile div.theme-selector {
		flex-direction: row;
	}
	div.profile div.links {
		padding-top: 20px;
		align-items: center;
		justify-items: center;
	}
	
}

@media screen and (max-width: 700px) {
	body {
		flex-direction: column;
	}
	div.profile {
		position: fixed; 
		top:0;
		width: 100%;
		height: auto;
		position: relative;
		padding-top: 0;
	}
	div.profile div.links {
		padding: 0;
		margin: 0;
		align-items: flex-start;
		flex-shrink: 0;
	}
	div.profile div.theme-selector {
		flex-direction: column;
	}
	div.content {
		margin: auto;
		margin-top: 20px;
	}
	div.profile img {
		transform: scale(.6);
	}
	footer {
		width: 100%;
		margin-left: auto;
	}
	div.profile div {
		flex-direction: row;
	}
}
