@media(hover: hover) and (pointer: fine) {
	a.link:hover ~ #cursor {
		width: 200px;
	}
}
@media(pointer: coarse){
	#cursor {
		visibility: hidden;
	}
}

#cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	backface-visibility: hidden;
	pointer-events: none;
	border: 3px solid black;
	transition-timing-function: cubic-bezier(.03,.89,.39,1.24);
	transition-duration: 0.2s;
	will-change: transform;
	border-radius: 50%;
}
p {
	border: 2px solid gray;
}